<html>
    <title>
        My page
    </title>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/home.css">
        <link rel="stylesheet" href="../styles/ayalew.css">
    </head>
    <body>
        <header>
            <h1>Bezza Tesfaw Ayalew</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="ayalew.html">AYALEW</a></li>
                <li><a href="http://amharic-language.com/">More info</a></li>
            </ul>
        </nav>
        <main>
            <h3>Two truths and a lie:</h3>
            <table>
                <tr class="truth">
                    <th>1st</th>
                    <td>I am a linguist.</td>
                </tr>
                <tr class="lie">
                    <th>2nd</th>
                    <td>I was a long-distance runner.</td>
                </tr>
                <tr class="truth">
                    <th>3rd</th>
                    <td>I like playing chess.</td>
                </tr>
            </table>
        </main>
        <footer>
            <div>BTA @revature 2021</div>
        </footer>
    </body>
</html>